<?xml version="1.0" encoding="UTF-8"?>
<module id="12692" version="2026042000">
  <modulename>assign</modulename>
  <sectionid>349</sectionid>
  <sectionnumber>5</sectionnumber>
  <idnumber></idnumber>
  <added>1776810028</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>2</completion>
  <completiongradeitemnumber>0</completiongradeitemnumber>
  <completionpassgrade>1</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[{"type":"completion","cm":12689,"e":1}],"showc":[true]}</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang></lang>
  <enableaitools>$@NULL@$</enableaitools>
  <enabledaiactions>$@NULL@$</enabledaiactions>
  <tags>
  </tags>
</module>