<?xml version="1.0" encoding="UTF-8"?>
<module id="12474" version="2026042000">
  <modulename>quiz</modulename>
  <sectionid>345</sectionid>
  <sectionnumber>1</sectionnumber>
  <idnumber></idnumber>
  <added>1770049950</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>2</completion>
  <completiongradeitemnumber>0</completiongradeitemnumber>
  <completionpassgrade>1</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[{"type":"completion","cm":12473,"e":2},{"type":"completion","cm":12472,"e":2}],"showc":[true,true]}</availability>
  <showdescription>1</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang></lang>
  <enableaitools>$@NULL@$</enableaitools>
  <enabledaiactions>$@NULL@$</enabledaiactions>
  <tags>
  </tags>
</module>