<?xml version="1.0" encoding="UTF-8"?>
<module id="12346" version="2026042000">
  <modulename>qbank</modulename>
  <sectionid>344</sectionid>
  <sectionnumber>0</sectionnumber>
  <idnumber>$@NULL@$</idnumber>
  <added>1776985299</added>
  <score>0</score>
  <indent>0</indent>
  <visible>0</visible>
  <visibleoncoursepage>0</visibleoncoursepage>
  <visibleold>0</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>1</showdescription>
  <downloadcontent>1</downloadcontent>
  <lang>$@NULL@$</lang>
  <enableaitools>$@NULL@$</enableaitools>
  <enabledaiactions>$@NULL@$</enabledaiactions>
  <tags>
  </tags>
</module>